@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+NZ+Basic&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  /*font-family: "Palatino Linotype", serif;*/
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

header {
  background-color: indigo;
  color: white;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

main {
  flex: 1; /* Reffering to the flex in body */
  background: linear-gradient(to bottom, yellow, lavender);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.fancy-font,
h1,
h2,
h3 {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.basic-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.btn-primary {
  background-color: rebeccaPurple;
  color: white;
  border: 2px solid darkviolet;
  border-radius: 0.375rem;
}

.screen-rotater {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (orientation: portrait) {
  .screen-rotater {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  .screen-rotater {
    flex-direction: row;
  }
}

input {
  margin: 10px;
}

#github-link {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
