.container {
  margin: auto;
  background-color: lightskyblue;
  padding: 40px;
  border-radius: 8px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
button {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: navy;
}
