.container {
  margin: auto;
  background-color: lightskyblue;
  padding: 40px;
  border-radius: 8px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
