#waiting-rotater {
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1rem;
}

.poem-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  max-width: 400px;
  margin: 1rem auto;
}

.poem-lines {
  white-space: pre-line;
  max-height: 200px;
  overflow-y: auto;
}
